.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.title {
    position: center;
    left: 50%;
    font-size: calc(10px + 2vmin);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


.Sign-in-container {
    flex: 0 1 auto;
    align-content: center;
    padding: 2em;
}

.Sign-out-container {
    position: absolute;
    right: 0;
    padding: 1em;
    vertical-align: center;
}